body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    text-decoration: underline;
  }

header {
  background-color: #f51717;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav {

  padding: 1em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav a:hover {
  color: rgb(0, 0, 0);
}

main {
  padding: 1em;
  text-align: center;
  margin-top: 200px;
}

#myVideo {
  position: absolute;
  top: 50px; /* adjust as necessary */
  left: 0;
  min-width: 100%;
  width: 100%;
  height: calc(100% - 100px); /* adjust as necessary */
  z-index: -1;
  background-size: cover;
}

footer {
  background-color: #f51717;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 315px;
}

footer h5{
	margin: 0;
	font-size: 4mm;
}