body{
    background-image: url("/Images/Register_image.jpeg");
    background-size:cover;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-content {

    background: #a09e9e30;
    color: #f9f9f9;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    position: relative;
    z-index: 9999;
  }
  
  #close-popup {
    position: absolute;
    top: 130px;
    left: 52%;
    background: #ffffff00;
    border: none;
    color: #000;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
  }
  
  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.146);
    z-index: -1;
    filter: blur(10px);
  }
  